PORT=3000
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"

SUPABASE_URL="https://YOUR-PROJECT.supabase.co"
SUPABASE_ANON_KEY="public-anon-key"
SUPABASE_SERVICE_ROLE_KEY="service-role-key"
SUPABASE_REALTIME_CHANNEL="calculations"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.zfuvcghmmfzuqfdwihfe:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"